:root {
    --color-IRIS: #4D5AE5;
    --color-OCEAN: #404BBF;
    --color-NAVY_BLUE: #2E2F42;
    --color-SLATE: #434455;
    --color-CORNFLOWER: #E7E9FC;
    --color-CLOUD: #F4F4FD;
    --color-WHITE: #FFFFFF;
}
body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
.up {
       border-bottom: 1px solid var(--color-CORNFLOWER);
       display: flex;
       justify-content: space-between;
       padding: 24px 0;
       align-items: center;
       height: 72px;
       width: 1440px;

}
.navi {
    display: flex;
    justify-content: space-between;
    padding: 24px 0;

}
.logo {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4D5AE5;
    text-transform: uppercase;
    align-self: center;
    display: flex;
    padding: 24px 0px 24px 156px;


}
.logo > .first-span {
    color:#2E2F42;;
}
.list {
    list-style: none;
    }
.menu {
    display: flex;
    padding: 24px 0px 24px 76px;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
}
.main-element {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
        
}
.main-element:hover,
.main-element:focus {
    color: #404bbf;
}

.contact-info {
    font-style: normal;
}
.contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    padding: 24px 156px 24px 332px;
    justify-content: space-evenly;
}
.contact-data {
    text-decoration: none;
    font-size: 16px;
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.contact-data:hover,
.contact-data:focus {
    color: #404bbf;
}
.hii {
    background-color: #2E2F42;
    height: 600px;
    width: 1440px;
    top: 76px;
    display: flexbox;
    align-content: center;
    justify-content: center;
}

.intro {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    display: flex;
    padding: 188px 472px;


}

.action {
    color: #FFFFFF;
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    cursor: pointer;
    padding: 16px 32px 16px 32px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.action:hover,
.action:focus {
    background-color: #404BBF;
}
.clear {
    display: flex;
    justify-content: center;
    padding-left: 156px;
    padding-right: 156px;
    gap: 8px;

}
.values {
    color: #2E2F42;
    font-size: 20px;
    letter-spacing: 0.02em;
    line-height: 1.2;
    font-weight: 500;
}

.explain {
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.symbols {
    color: #2E2F42;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
}
.symple {
    display: flex;
    flex-direction: row;
    gap: 24px;
    justify-content: center;
}

.pals {
    background-color: var(--color-CLOUD);
    display: flex;
    width: 1440px;
    height: 732px;
    top: 1548px;
    flex-wrap: wrap;
    
}

.team {
    color: #2e2f42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    display: flex;
    padding-top: 120px;
    padding-left: 639px;
    padding-right: 639px;   
}
.empl {
    display: flex;
    flex-direction: row;
    gap: 32px;
    width: 264px;
    height: 380px;
    padding-left: 156px;
    
}

.face {
    background-color: #FFFFFF;
    
}

.name {
    color: var(--color-NAVY_BLUE);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
}

.occupation {
    color: var(--text-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}

.down {
    background-color: #2e2f42;
    display: flex;
    width: 1440px;
    height: 321px;
    top: 2280px;
}

.logo>.second-span {
    color: #F4F4FD;
}

.motto {
    color: #F4F4FD;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.for-clicking {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #4D5AE5;
    background-color: #F4F4FD;
    border: 1px solid #E7E9FC;
    cursor: pointer;

}
.for-clicking:hover,:focus {
    background-color: #404BBF;
    color: #FFFFFF;
}
.a {
    text-decoration: none;
}
.option {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;

}
.description {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

}
